<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ site.name }} :: {% block title %}{% endblock title %}</title>
    </head>

    <body>

        <header>
            <h1>{{ site.name }}</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('core.index') }}">Home</a></li>
                    {% if categories %}
                        {% for cat in categories %}
                        <li><a href="{{ url_for('core.category', catname=cat) }}">{{ cat|capitalize }}</a></li>
                        {% endfor %}
                    {% endif %}
                    <li><a href="{{ url_for('core.index') }}">Home</a></li>
                </ul>

                <ul>
                    {% if is_logged_in() %}
                    <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
                    <li><a href="{{ url_for('simplelogin.logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('simplelogin.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block messages %}{% endblock %}

        <section>
            {% block content %}
            {% endblock %}
        </section>

        <footer>

        </footer>
    </body>

</html>
