{% extends 'base.html' %}

{% block title %}Index{% endblock title %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            <article>
                <h2><a href="{{ url_for('core.post', id=post._id) }}">{{ post.title }}</a></h2>
                <div>
                    <p>{{ post.content|markdown }}</p>
                </div>
                <div>
                    <span class="category">
                        Category:
                        <a href="{{ url_for('core.category', catname=post.category) }}">
                            {{ post.category }}
                        </a>
                    </span>
                    <span class="tags">
                        Tags:
                        {% for tag in post.tags %}
                            <a href="{{ url_for('core.tag', tagname=tag) }}">{{ tag }} </a>
                        {% endfor %}
                    </span>
                </div>
            </article>
        {% endfor %}
    {% else %}
    <span>no have posts yet!</span>
    {% endif %}
{% endblock content %}
